{
  "openapi": "3.1.1",
  "info": {
    "title": "Sedis PartnerAPI v2",
    "description": "The Sedis PartnerAPI v2 is a REST + JSON API for programmatic access to Sedis Fastighetsbenchmark and Bolagsanalys data.\n\nAuthenticate with the `X-Api-Key` header (issued per customer). Responses are camelCase and paged with the bare `{data, page, pageSize, totalCount, totalPages}` envelope.\n\nA CompDatum value carries EXACTLY ONE of `figure` (decimal) or `date` (ISO `yyyy-MM-dd`): parameters whose code starts with 'D' are date-typed and populate `date` (with `figure` null); all others populate `figure` (with `date` null). The `lastUpdatedUtc` field is a full UTC instant.\n\nThe code-defined CompDatum enum domains are published as typed integer-enum component schemas (CompClassification = EA0, CompTransactionKind = EC0, CompTransactionType = ED0, CompEpcEnvironmentalRating = EE0, CompValuationMethod = EF0, CompValuationAgency = EG0, CompSustainabilityCertification = EH0); a CompDatum enum value's `enum.value` is the integer they enumerate. EB0 (PropertyType) is the exception: it is DATA-DRIVEN (a database table, not a compile-time enum) and therefore has no static schema — discover its live domain at runtime via `/v2/fastighetsbenchmark/property-types` (or `parameters/EB0` `enumValues`).\n\nWriting (Fastighetsbenchmark): create property units with POST property-units and update them with PUT — an upload of values (POST comp-uploads) never creates a property unit. Writes are strict: a broken rule answers 422 `application/problem+json` (RFC 9457) with `errors[]` of `{ pointer, code, detail }` — pointer a JSON Pointer into the request body, code a stable machine-readable error code — and nothing is saved. Problem `type`s are stable URIs under `https://api.sedis.se/problems/`. POSTs need an `Idempotency-Key` header.",
    "contact": {
      "name": "Sedis AB",
      "url": "https://www.sedis.se/",
      "email": "info@sedis.se"
    },
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://api.sedis.se",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/status": {
      "get": {
        "tags": [
          "PartnerApiV2Status"
        ],
        "summary": "Returns a camelCase status payload whose `message` is localized by the resolved request\nculture: English by default, Swedish when the caller sends `?lang=sv` or\n`Accept-Language: sv` (LOC-03b). Proves the `/v2` localization branch defaults to\nEnglish without touching the GUI sv-SE pipeline.",
        "operationId": "GetPartnerApiV2Status",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/comp-data": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists CompDatum time-series rows for the calling tenant.",
        "description": "Returns the v2 comp-data list (camelCase, bare envelope), tenant-scoped via the parent Comp join. Each row is self-describing via dataType (decimal|boolean|enum|date — from the parameterCode's first letter): decimal populates figure; boolean populates boolean (+ raw figure); enum populates enum {value,name,enumType} (+ raw figure), its full domain discoverable via /parameters/{code}; date populates date (ISO yyyy-MM-dd). valueDate is the period the value applies to (the natural-key part), distinct from the date-typed value itself. Supports paging, whitelisted sort, sparse fieldsets, ?count=false (bulk-sync count opt-out, D-12), and the named filters sedisId, sedisIdIn, parameterCode, fromDate, toDate.",
        "operationId": "GetPartnerApiV2FbmCompData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCode",
            "in": "query",
            "description": "Exact-match filter on the parameter code (e.g. the CompParameterCode discovered via the parameters resource). A 'D'-prefixed code is date-typed (populates date; figure null).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Inclusive lower bound (ISO yyyy-MM-dd) on valueDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Inclusive upper bound (ISO yyyy-MM-dd) on valueDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompDatumResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/parameters": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Fastighetsbenchmark parameters (reference data; English-default text).",
        "description": "Returns the v2 Fastighetsbenchmark parameters list (camelCase, bare envelope). Reference data — identical for every API key. name/groupName/description/unit are English by default, Swedish via ?lang=sv. Supports paging, whitelisted sort, sparse fieldsets, and the named filters code, groupName, nameContains.",
        "operationId": "GetPartnerApiV2FbmParameters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Exact-match filter on the parameter code (e.g. NX71).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "Exact-match filter on the parameter group display name (e.g. 'Nyckeltal').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompParameterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/parameters/{code}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single parameter by code (404 when not found, D-03).",
        "operationId": "GetPartnerApiV2FbmParameter",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Exact-match filter on the parameter code (e.g. NX71).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompParameterResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/comp-uploads": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Stores a customer's values for one value date, optionally submitting them to Sedis.",
        "description": "One request = one value date, 1–1000 rows (body at most 5 MB). Each row names one of the calling customer's own property units by sedisId or exact name (case-insensitive) — given both, they must agree — and carries values keyed by base-data parameter code, typed by the parameter's dataType: decimal → number, boolean → true/false, enum → an integer from enumValues (EB0: an id from GET property-types), date → \"yyyy-MM-dd\"; null deletes the stored value, a code left out is left unchanged. A property unit may appear on one row only. valueDate must be the end of a quarter; until quarterly and half-yearly data is released, only 31 December. Strict: any broken rule → 422 (type …/problems/validation) with errors[] of { pointer, code, detail } and nothing is saved. Posting again for the same date replaces the upload while it is uploaded; once submitted or published → 409 (type …/problems/conflict, extensions.existingUploadId). submit: true sends it to Sedis for review in the same call and then also requires a property classification (EA0) and a property type (EB0) for every property unit on the value date. Requires an Idempotency-Key header. Returns 201 with Location and the upload, echoing each row's sedisId.",
        "operationId": "CreatePartnerApiV2FbmCompUpload",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "A unique value per logical request, e.g. a UUID. Retrying with the same key within 24 hours returns the first response without running the request again, so a retry never creates twice. Scoped to your customer. Missing → 400.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/comp-uploads/{id}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Gets one of the customer's uploads — where it is, and which property unit each row matched.",
        "description": "status is uploaded (saved, can be replaced), submitted (with Sedis for review), publishing, or published (the values are live). An upload Sedis sends back is uploaded again. The id is resolved within the calling customer, so another customer's upload is 404.",
        "operationId": "GetPartnerApiV2FbmCompUpload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The integer id of the resource, as returned in the list or by the create response.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Jämförelseobjekt visible to the calling tenant.",
        "description": "Returns the v2 jamforelseobjekt list (camelCase, bare envelope), scoped to the calling API key's tenant. Each row is the tenant's clone of a SedisObjekt. Supports paging, whitelisted sort, sparse fieldsets (including the opt-in containsPropertyUnits forward clone-lineage), and the named filters sedisId, sedisIdIn, nameContains, isCloneOfSedisObjektSedisId.",
        "operationId": "GetPartnerApiV2FbmJamforelseobjekt",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isCloneOfSedisObjektSedisId",
            "in": "query",
            "description": "Exact-match filter on the SedisId of the SedisObjekt the Jämförelseobjekt is a clone of.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Geospatial bounding-box filter as 'minLon,minLat,maxLon,maxLat' (WGS84 / EPSG:4326 decimal degrees). Mutually exclusive with near*/wkt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nearLon",
            "in": "query",
            "description": "Longitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLat and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "nearLat",
            "in": "query",
            "description": "Latitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLon and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "radiusM",
            "in": "query",
            "description": "Radius in metres for the near (point) filter; use together with nearLon and nearLat.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "wkt",
            "in": "query",
            "description": "Geospatial filter as a WKT geometry (WGS84 / EPSG:4326). Mutually exclusive with bbox/near*.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single Jämförelseobjekt by SedisId. Returns 404 for a not-found OR cross-tenant SedisId\n— the tenant filter makes another tenant's row invisible (D-03).",
        "operationId": "GetPartnerApiV2FbmJamforelseobjektById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "content": {
              "application/json": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt/search": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Searches Jämförelseobjekt via POST (complex geometry escape hatch; same envelope as the GET).",
        "operationId": "SearchPartnerApiV2FbmJamforelseobjekt",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerApiV2SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/municipalities": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists municipalities.",
        "description": "Returns the v2 municipalities list (camelCase, bare envelope). Reference data — identical for every API key. code is the official municipality code (for Sweden the four-digit SCB kommunkod, e.g. \"0180\"; null outside Sweden): map your own codes to Sedis ids with ?code=. Supports paging, whitelisted sort (default name), sparse fieldsets, and the named filters code, countryCode, nameContains.",
        "operationId": "GetPartnerApiV2FbmMunicipalities",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Exact-match filter on the parameter code (e.g. NX71).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "ISO-3166 alpha-2 country-code filter (e.g. SE).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfMunicipalityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/municipalities/{id}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Gets a single municipality by id.",
        "operationId": "GetPartnerApiV2FbmMunicipality",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The integer id of the resource, as returned in the list or by the create response.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MunicipalityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-types": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists property types.",
        "description": "Returns the v2 property-types list (camelCase, bare envelope). Reference data — identical for every API key. id is the value an upload sends for the EB0 parameter and the value ?propertyType= filters on; names are Swedish. Same rows as GET parameters/EB0 enumValues. Supports paging, whitelisted sort (default name), sparse fieldsets, and the named filter nameContains.",
        "operationId": "GetPartnerApiV2FbmPropertyTypes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfPropertyTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-types/{id}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Gets a single property type by id.",
        "operationId": "GetPartnerApiV2FbmPropertyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The integer id of the resource, as returned in the list or by the create response.",
            "required": true,
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Fastigheter visible to the calling tenant.",
        "description": "Returns the v2 property-units list (camelCase, bare envelope), scoped to the calling API key's tenant. Supports paging, whitelisted sort, sparse fieldsets, and the named filters sedisId, sedisIdIn, name (exact, case-insensitive — the lookup from your own designation to the sedisId), nameContains, municipalityId, propertyType, propertyTypeName.",
        "operationId": "GetPartnerApiV2FbmPropertyUnits",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Exact-match filter on the resource name (surrounding whitespace ignored) — finds the sedisId of a property unit you created by name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipalityId",
            "in": "query",
            "description": "Integer municipality id filter. Valid ids are listed by GET municipalities.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "description": "Integer property-type id filter (NOT a name). Valid ids are listed by GET property-types.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "propertyTypeName",
            "in": "query",
            "description": "Case-insensitive substring filter on the property-type name (stored in Swedish, e.g. 'Kontor'). Combines with propertyType.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "belongsToJamforelseobjektSedisId",
            "in": "query",
            "description": "Reverse-lineage filter: returns property-units belonging to the Jämförelseobjekt (benchmark/comparison zone) with this SedisId — pass the zone's sedisId, not a property-unit sedisId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Geospatial bounding-box filter as 'minLon,minLat,maxLon,maxLat' (WGS84 / EPSG:4326 decimal degrees). Mutually exclusive with near*/wkt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nearLon",
            "in": "query",
            "description": "Longitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLat and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "nearLat",
            "in": "query",
            "description": "Latitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLon and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "radiusM",
            "in": "query",
            "description": "Radius in metres for the near (point) filter; use together with nearLon and nearLat.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "wkt",
            "in": "query",
            "description": "Geospatial filter as a WKT geometry (WGS84 / EPSG:4326). Mutually exclusive with bbox/near*.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfPropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Creates a property unit — the only way to create one.",
        "description": "Creates a property unit owned by the calling API key's customer (never read from the body) and returns it with its sedisId — 201 with Location and ETag. Requires an Idempotency-Key header; replaying the same key returns the original response. 409 (type …/problems/conflict, extensions.existingSedisId) when the customer already has a property unit with that name — update it with PUT instead. 422 (type …/problems/validation) lists every broken rule as errors[] of { pointer, code, detail }; nothing is saved. Rules: name is required and unique per customer (case-insensitive). A Swedish property with an officialDesignation needs municipalityId (a Swedish designation is unique only with its municipality). address groups streetNameAndNumber, postalCode, postalTown and countryCode (ISO 3166-1 alpha-2, default SE). municipalityId must exist (GET municipalities) and lie in address.countryCode. geometry is an optional GeoJSON Point; coordinates are always [x, y] — [longitude, latitude] for CRS84 (the default geometryCrs, http://www.opengis.net/def/crs/OGC/1.3/CRS84) or [easting, northing] for SWEREF 99 TM (http://www.opengis.net/def/crs/EPSG/0/3006); the short forms CRS84, EPSG:4326 and EPSG:3006 are accepted too. A Swedish point must lie in its municipality (or in Sweden); a point is never corrected. When geometry is given it is the property's location and is never overwritten by Sedis's own lookups; when omitted, Sedis locates the property from the official designation (Sweden) or the address, and may complete address.postalCode and municipalityId from the address.",
        "operationId": "CreatePartnerApiV2FbmPropertyUnit",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "A unique value per logical request, e.g. a UUID. Retrying with the same key within 24 hours returns the first response without running the request again, so a retry never creates twice. Scoped to your customer. Missing → 400.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyUnitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single Fastighet by SedisId. Returns 404 (NOT 403, NOT the row) for a not-found OR\ncross-tenant SedisId — the tenant filter makes another tenant's row invisible (D-03).",
        "operationId": "GetPartnerApiV2FbmPropertyUnitById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyUnitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Replaces a property unit's attributes — the only way to rename one.",
        "description": "Full replace: an optional field that is omitted or null is cleared. The {sedisId} is resolved within the calling customer, so another customer's — or an unknown — sedisId is 404. Optional If-Match: send the ETag from an earlier GET and the update is refused with 412 (type …/problems/precondition-failed) if someone changed the property unit since; compared on the resource version (weak comparison, as v2 ETags are weak). PUT is idempotent and needs no Idempotency-Key. 409 when the new name is taken by another of the customer's property units; 422 as for POST. Returns 200 with the updated resource and its new ETag. Rules: name is required and unique per customer (case-insensitive). A Swedish property with an officialDesignation needs municipalityId (a Swedish designation is unique only with its municipality). address groups streetNameAndNumber, postalCode, postalTown and countryCode (ISO 3166-1 alpha-2, default SE). municipalityId must exist (GET municipalities) and lie in address.countryCode. geometry is an optional GeoJSON Point; coordinates are always [x, y] — [longitude, latitude] for CRS84 (the default geometryCrs, http://www.opengis.net/def/crs/OGC/1.3/CRS84) or [easting, northing] for SWEREF 99 TM (http://www.opengis.net/def/crs/EPSG/0/3006); the short forms CRS84, EPSG:4326 and EPSG:3006 are accepted too. A Swedish point must lie in its municipality (or in Sweden); a point is never corrected. When geometry is given it is the property's location and is never overwritten by Sedis's own lookups; when omitted, Sedis locates the property from the official designation (Sweden) or the address, and may complete address.postalCode and municipalityId from the address.",
        "operationId": "UpdatePartnerApiV2FbmPropertyUnit",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag from an earlier GET. The update is applied only if the resource is still at that version; otherwise 412. Omit it to update unconditionally.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertyUnitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units/search": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Searches Fastigheter by a complex body geometry + the same named filters as the GET.",
        "operationId": "SearchPartnerApiV2FbmPropertyUnits",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerApiV2SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfPropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/reference-zones": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists external-reference Zones (shared across all tenants).",
        "description": "Returns the v2 reference-zones list (camelCase, bare envelope). Reference data — Sedis-owned non-clone Zones, identical for every API key. Supports paging, whitelisted sort, sparse fieldsets, and the named filters sedisId, sedisIdIn, nameContains.",
        "operationId": "GetPartnerApiV2FbmReferenceZones",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/reference-zones/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single reference Zone by SedisId (404 when not found, D-03).",
        "operationId": "GetPartnerApiV2FbmReferenceZoneById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
[...]
