{
  "openapi": "3.1.1",
  "info": {
    "title": "Sedis PartnerAPI v2",
    "description": "The Sedis PartnerAPI v2 is a REST + JSON API for programmatic access to Sedis Fastighetsbenchmark and Bolagsanalys data.\n\nAuthenticate with the `X-Api-Key` header (issued per customer). Responses are camelCase and paged with the bare `{data, page, pageSize, totalCount, totalPages}` envelope.\n\nA CompDatum value carries EXACTLY ONE of `figure` (decimal) or `date` (ISO `yyyy-MM-dd`): parameters whose code starts with 'D' are date-typed and populate `date` (with `figure` null); all others populate `figure` (with `date` null). The `lastUpdatedUtc` field is a full UTC instant.\n\nThe code-defined CompDatum enum domains are published as typed integer-enum component schemas (CompClassification = EA0, CompTransactionKind = EC0, CompTransactionType = ED0, CompEpcEnvironmentalRating = EE0, CompValuationMethod = EF0, CompValuationAgency = EG0, CompSustainabilityCertification = EH0); a CompDatum enum value's `enum.value` is the integer they enumerate. EB0 (PropertyType) is the exception: it is DATA-DRIVEN (a database table, not a compile-time enum) and therefore has no static schema — discover its live domain at runtime via `/v2/fastighetsbenchmark/parameters/EB0` (`enumValues`).",
    "contact": {
      "name": "Sedis AB",
      "url": "https://www.sedis.se/",
      "email": "info@sedis.se"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sedis.se",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/status": {
      "get": {
        "tags": [
          "PartnerApiV2Status"
        ],
        "summary": "Returns a camelCase status payload whose `message` is localized by the resolved request\nculture: English by default, Swedish when the caller sends `?lang=sv` or\n`Accept-Language: sv` (LOC-03b). Proves the `/v2` localization branch defaults to\nEnglish without touching the GUI sv-SE pipeline.",
        "operationId": "GetPartnerApiV2Status",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/comp-data": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists CompDatum time-series rows for the calling tenant.",
        "description": "Returns the v2 comp-data list (camelCase, bare envelope), tenant-scoped via the parent Comp join. Each row is self-describing via dataType (decimal|boolean|enum|date — from the parameterCode's first letter): decimal populates figure; boolean populates boolean (+ raw figure); enum populates enum {value,name,enumType} (+ raw figure), its full domain discoverable via /parameters/{code}; date populates date (ISO yyyy-MM-dd). valueDate is the period the value applies to (the natural-key part), distinct from the date-typed value itself. Supports paging, whitelisted sort, sparse fieldsets, ?count=false (bulk-sync count opt-out, D-12), and the named filters sedisId, sedisIdIn, parameterCode, fromDate, toDate.",
        "operationId": "GetPartnerApiV2FbmCompData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCode",
            "in": "query",
            "description": "Exact-match filter on the parameter code (e.g. the CompParameterCode discovered via the parameters resource). A 'D'-prefixed code is date-typed (populates date; figure null).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Inclusive lower bound (ISO yyyy-MM-dd) on valueDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Inclusive upper bound (ISO yyyy-MM-dd) on valueDate.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompDatumResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/parameters": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Fastighetsbenchmark parameters (reference data; English-default text).",
        "description": "Returns the v2 Fastighetsbenchmark parameters list (camelCase, bare envelope). Reference data — identical for every API key. name/groupName/description/unit are English by default, Swedish via ?lang=sv. Supports paging, whitelisted sort, sparse fieldsets, and the named filters code, groupName, nameContains.",
        "operationId": "GetPartnerApiV2FbmParameters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Exact-match filter on the parameter code (e.g. NX71).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupName",
            "in": "query",
            "description": "Exact-match filter on the parameter group display name (e.g. 'Nyckeltal').",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompParameterResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/parameters/{code}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single parameter by code (404 when not found, D-03).",
        "operationId": "GetPartnerApiV2FbmParameter",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Exact-match filter on the parameter code (e.g. NX71).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompParameterResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/comp-uploads": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Ingests customer data into the CompUpload pipeline for the calling tenant.",
        "description": "Stages a CompUpload (one ValueDate) owned by the calling API key's tenant (the owner is NEVER read from the body). Requires a mandatory Idempotency-Key header; replaying the same key returns the original response without staging a duplicate. Returns 201 with the staged upload id + status; 409 when a non-Uploaded upload already exists for the same ValueDate; 400 (RFC 7807, extensions.invalidFields) on validation errors.",
        "operationId": "CreatePartnerApiV2FbmCompUpload",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompUploadIngestResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Jämförelseobjekt visible to the calling tenant.",
        "description": "Returns the v2 jamforelseobjekt list (camelCase, bare envelope), scoped to the calling API key's tenant. Each row is the tenant's clone of a SedisObjekt. Supports paging, whitelisted sort, sparse fieldsets (including the opt-in containsPropertyUnits forward clone-lineage), and the named filters sedisId, sedisIdIn, nameContains, isCloneOfSedisObjektSedisId.",
        "operationId": "GetPartnerApiV2FbmJamforelseobjekt",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isCloneOfSedisObjektSedisId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Geospatial bounding-box filter as 'minLon,minLat,maxLon,maxLat' (WGS84 / EPSG:4326 decimal degrees). Mutually exclusive with near*/wkt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nearLon",
            "in": "query",
            "description": "Longitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLat and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "nearLat",
            "in": "query",
            "description": "Latitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLon and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "radiusM",
            "in": "query",
            "description": "Radius in metres for the near (point) filter; use together with nearLon and nearLat.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "wkt",
            "in": "query",
            "description": "Geospatial filter as a WKT geometry (WGS84 / EPSG:4326). Mutually exclusive with bbox/near*.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single Jämförelseobjekt by SedisId. Returns 404 for a not-found OR cross-tenant SedisId\n— the tenant filter makes another tenant's row invisible (D-03).",
        "operationId": "GetPartnerApiV2FbmJamforelseobjektById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "content": {
              "application/json": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/jamforelseobjekt/search": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Searches Jämförelseobjekt via POST (complex geometry escape hatch; same envelope as the GET).",
        "operationId": "SearchPartnerApiV2FbmJamforelseobjekt",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerApiV2SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Fastigheter visible to the calling tenant.",
        "description": "Returns the v2 property-units list (camelCase, bare envelope), scoped to the calling API key's tenant. Supports paging, whitelisted sort, sparse fieldsets, and the named filters sedisId, sedisIdIn, nameContains, municipalityId, propertyType, propertyTypeName.",
        "operationId": "GetPartnerApiV2FbmPropertyUnits",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "municipalityId",
            "in": "query",
            "description": "Integer municipality id filter. Valid ids appear as municipality.id on property-unit rows (there is no separate lookup resource).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "propertyType",
            "in": "query",
            "description": "Integer property-type id filter (NOT a name). Valid ids appear as propertyType.id on property-unit rows.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "propertyTypeName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "belongsToJamforelseobjektSedisId",
            "in": "query",
            "description": "Reverse-lineage filter: returns property-units belonging to the Jämförelseobjekt (benchmark/comparison zone) with this SedisId — pass the zone's sedisId, not a property-unit sedisId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Geospatial bounding-box filter as 'minLon,minLat,maxLon,maxLat' (WGS84 / EPSG:4326 decimal degrees). Mutually exclusive with near*/wkt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nearLon",
            "in": "query",
            "description": "Longitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLat and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "nearLat",
            "in": "query",
            "description": "Latitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLon and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "radiusM",
            "in": "query",
            "description": "Radius in metres for the near (point) filter; use together with nearLon and nearLat.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "wkt",
            "in": "query",
            "description": "Geospatial filter as a WKT geometry (WGS84 / EPSG:4326). Mutually exclusive with bbox/near*.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfPropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single Fastighet by SedisId. Returns 404 (NOT 403, NOT the row) for a not-found OR\ncross-tenant SedisId — the tenant filter makes another tenant's row invisible (D-03).",
        "operationId": "GetPartnerApiV2FbmPropertyUnitById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyUnitResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/property-units/search": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Searches Fastigheter by a complex body geometry + the same named filters as the GET.",
        "operationId": "SearchPartnerApiV2FbmPropertyUnits",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerApiV2SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfPropertyUnitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/reference-zones": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists external-reference Zones (shared across all tenants).",
        "description": "Returns the v2 reference-zones list (camelCase, bare envelope). Reference data — Sedis-owned non-clone Zones, identical for every API key. Supports paging, whitelisted sort, sparse fieldsets, and the named filters sedisId, sedisIdIn, nameContains.",
        "operationId": "GetPartnerApiV2FbmReferenceZones",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfZoneResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/reference-zones/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single reference Zone by SedisId (404 when not found, D-03).",
        "operationId": "GetPartnerApiV2FbmReferenceZoneById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/samlingar": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Lists Samlingar visible to the calling tenant.",
        "description": "Returns the v2 samlingar list (camelCase, bare envelope), scoped to the calling API key's tenant (only customer-owned collections; SedisAB-owned SedisObjekt collections are not partner-fetchable). Supports paging, whitelisted sort, sparse fieldsets, and the named filters sedisId, sedisIdIn, nameContains.",
        "operationId": "GetPartnerApiV2FbmSamlingar",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "sedisId",
            "in": "query",
            "description": "Exact-match filter on the resource's SedisId (the string natural key).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sedisIdIn",
            "in": "query",
            "description": "COMMA-SEPARATED list of SedisIds to match (e.g. sedisIdIn=PU-1,PU-2,PU-3). This is a single comma-delimited string value, NOT a repeated parameter or JSON array. Rows whose SedisId is in the set are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "Geospatial bounding-box filter as 'minLon,minLat,maxLon,maxLat' (WGS84 / EPSG:4326 decimal degrees). Mutually exclusive with near*/wkt.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nearLon",
            "in": "query",
            "description": "Longitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLat and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "nearLat",
            "in": "query",
            "description": "Latitude (WGS84 decimal degrees) of the centre point for a radius filter; use together with nearLon and radiusM.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "radiusM",
            "in": "query",
            "description": "Radius in metres for the near (point) filter; use together with nearLon and nearLat.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)(?:\\.\\d+)?(?:[eE][+-]?\\d+)?$",
              "type": [
                "number",
                "string"
              ],
              "format": "double"
            }
          },
          {
            "name": "wkt",
            "in": "query",
            "description": "Geospatial filter as a WKT geometry (WGS84 / EPSG:4326). Mutually exclusive with bbox/near*.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Creates a customer-owned Samling (D-35, API-13). The owning tenant is stamped from the API key's\nIPartnerApiTenantContext — NEVER the request body (T-62-08-01). Triggers the existing\nrecalc cascade (create-path BJ0=1 gate + `CalculationRequestQueue` enqueue). Requires a\nmandatory `Idempotency-Key` header (replay-safe via IdempotencyKeyFilter).",
        "description": "Creates a Samling owned by the calling API key's tenant (the owner is NEVER read from the body). Requires a mandatory Idempotency-Key header; replaying the same key returns the original response without creating a duplicate. Returns 201 with the created resource; 409 when a Samling with the same name already exists within the tenant; 400 (RFC 7807, extensions.invalidFields) on validation errors.",
        "operationId": "CreatePartnerApiV2FbmSamling",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSamlingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/samlingar/{sedisId}": {
      "get": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Resolves a single Samling by SedisId. Returns 404 for a not-found OR cross-tenant SedisId — the\ntenant filter makes another tenant's row invisible (D-03).",
        "operationId": "GetPartnerApiV2FbmSamlingById",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompCollectionResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "content": {
              "application/json": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Full replace of an existing customer-owned Samling's name + member set (SED-904). The owning tenant\ncomes from IPartnerApiTenantContext, NEVER the body (T-62-08-01); the `{sedisId}`\nis resolved tenant-scoped, so a not-found OR cross-tenant id returns 404 (never 403, no leak — D-03).\nBecause the member set changed, the recalc cascade is re-triggered (via the new\n`ICompCollectionService.UpdateCollectionAsync`). PUT is idempotent by HTTP semantics, so it does\nNOT require the `Idempotency-Key` header (the mandatory-key filter is POST-only, 62-08).",
        "description": "Full replace of the Samling's name and member set. The owner is NEVER read from the body; the {sedisId} is resolved scoped to the calling API key's tenant, so updating another tenant's Samling returns 404. Replacing the member set re-triggers the recalculation cascade. PUT is idempotent and does NOT require the Idempotency-Key header. Returns 200 with the updated resource; 404 when the Samling does not exist for the tenant; 400 (RFC 7807) on validation errors.",
        "operationId": "UpdatePartnerApiV2FbmSamling",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSamlingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Deletes an existing customer-owned Samling (SED-904), cascading the CompData/tags cleanup via the\nexisting `ICompCollectionService.DeleteCollectionAsync` → `DeleteSedisObjectAsync`. The\n`{sedisId}` is resolved tenant-scoped: a not-found OR cross-tenant id returns 404 (never 403).\nIdempotent by HTTP semantics (a second DELETE of the same id → 404); does NOT require the\n`Idempotency-Key` header (POST-only, 62-08).",
        "description": "Deletes the Samling and cascades its related CompData/tags cleanup. The {sedisId} is resolved scoped to the calling API key's tenant, so deleting another tenant's Samling returns 404. Returns 204 No Content on success; 404 when the Samling does not exist for the tenant. DELETE is idempotent and does NOT require the Idempotency-Key header.",
        "operationId": "DeletePartnerApiV2FbmSamling",
        "parameters": [
          {
            "name": "sedisId",
            "in": "path",
            "description": "The SedisId (string natural key) of the resource to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found RFC 7807 ProblemDetails. extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/fastighetsbenchmark/samlingar/search": {
      "post": {
        "tags": [
          "Fastighetsbenchmark"
        ],
        "summary": "Searches Samlingar via POST (complex geometry escape hatch; same envelope as the GET).",
        "operationId": "SearchPartnerApiV2FbmSamlingar",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PartnerApiV2SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/bolagsanalys/companies": {
      "get": {
        "tags": [
          "Bolagsanalys"
        ],
        "summary": "Lists companies. Supports paging (`?page`/`?pageSize`), whitelisted sort\n(`?sort=field,-field`), sparse fieldsets (`?fields=`), the count opt-out\n(`?count=false`), and the named filters `?companyId=`, `?nameContains=`,\n`?countryCode=` (D-15). Returns the bare camelCase envelope.",
        "description": "Returns the v2 REST companies list (camelCase, bare envelope). Supports paging, whitelisted sort, sparse fieldsets, and the named filters companyId, nameContains, countryCode.",
        "operationId": "GetPartnerApiV2BolagsanalysCompanies",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Exact-match filter on the Sedis company id (Company.ExternalId — a Sedis-internal key, NOT a SEC CIK).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nameContains",
            "in": "query",
            "description": "Case-insensitive substring filter on the resource name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countryCode",
            "in": "query",
            "description": "ISO-3166 alpha-2 country-code filter (e.g. SE).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Response language for localized text (parameter names/descriptions, status messages). Accepts 'en' (default) or 'sv'. Equivalent to the Accept-Language header; the query parameter wins when both are sent.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Preferred response language for localized text (en or sv). The ?lang= query parameter takes precedence when both are sent.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerApiV2EnvelopeOfCompanyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request RFC 7807 ProblemDetails. extensions.invalidFields lists the rejected query parameter name(s); extensions.traceId carries the W3C/Application Insights correlation id.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests RFC 7807 ProblemDetails. extensions.rateLimitRemaining is 0 and extensions.retryAfterSeconds mirrors the Retry-After header (the seconds to wait before retrying).",
            "headers": {
              "Retry-After": {
                "description": "Seconds the client should wait before retrying (emitted on 429 from the sliding-window rate-limiter lease).",
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v2/bolagsanalys/data": {
      "get": {
        "tags": [
          "Bolagsanalys"
        ],
        "summary": "Lists data points. Supports paging, whitelisted sort, sparse fieldsets, the count opt-out, and\nthe named filters `?companyId=`, `?parameterCode=`, `?fromDate=`, `?toDate=`,\n`?quarterId=` (D-15). The quarter filters accept either the encoded number\n(`20251`) or the readable form (`2025Q1`).",
        "description": "Returns the v2 REST data list (camelCase, bare envelope). quarterId is a bare number (20251 = 2025 Q1). Supports paging, whitelisted sort, sparse fieldsets, and the named filters companyId, parameterCode, fromDate, toDate, quarterId (each quarter filter accepts 20251 or 2025Q1).",
        "operationId": "GetPartnerApiV2BolagsanalysData",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number (default 1). Combine with pageSize to walk a result set.",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of rows per page (default 50, clamped to a maximum of 500; when clamped the response carries the Sedis-Page-Size-Clamped: true header).",
            "schema": {
              "pattern": "^-?(?:0|[1-9]\\d*)$",
              "type": [
                "integer",
                "string"
              ],
              "format": "int32"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Comma-separated whitelisted sort fields; prefix a field with '-' for descending (e.g. sort=name,-valueDate). Only the fields a given resource exposes are accepted — an unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated sparse fieldset: limits the response to the named fields and opts IN to optional fields (e.g. fields=sedisId,name,geometry). An unknown field returns 400 with extensions.invalidFields.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "When false, the bulk-sync count opt-out (D-12): totalCount and totalPages are returned null to skip the count query. Defaults to true.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Exact-match filter on the Sedis company id (Company.ExternalId — a Sedis-internal key, NOT a SEC CIK).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCode",
            "in": "query",
[...]
